
<div class="nav_button">
  <%= link_to 'Signin', signin_path %>
	<%= space_filter(7) %>
  <%= link_to 'Signup', signup_path %>
</div>

<div class="intro_content">
	Powered by <%=link_to "as_user", "http://github.com/as181920/as_user", {target: "_blank"}%>
</div>

