*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
log
tmp


dump.rdb
/db/*.sqlite3
*.sassc
.sass-cache


resque.pid

/public
/public/sitemap.xml
/backups

# Ignore all swap files
.*.swp
.*.swo
*~
*.bak
*.log
nohup.out
*.tar.bz2
*.tar.gz
*.zip

nbproject/
.settings/
.svn
.project
.pydevproject
