/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body { text-align:center; background-image: url("/assets/bg.jpg"); }


.nav_button a{position:relative;top:138px;border:#D5DBD3 6px solid;font-size:36px;text-decoration:none;border-radius:7px;background-color: #D5DBD3; }

.intro_content {position:relative;top:238px;font-size:12px;text-decoration:none;border-radius:2px;}
.intro_content a{text-decoration:none;border:#ddd 2px solid;font-size:10px;font-weight:normal;font-style:italic;border-radius:6px;}

.form-box { margin-right:auto;margin-left:auto;width:50%;text-align: right; }
.form-table td{ padding-bottom: 8px;}
input[type='submit'] {}

.or_hr {text-align: left;}
.nav_bar {text-align: left;position:relative;top:25px;}
.nav_bar a{text-decoration:none;border:#D5DBD3 3px solid;font-size:14px;border-radius:7px;background-color: #D5DBD3;}


