<h1 class="logo">
	<strong><%=link_to "Home", main_app.root_path%></strong><s></s>
	<div class="drop-down-menu"><s></s>
		<div class="drop-down-menubox">
			<ul class="dp-dw-mnlist">
				<li><a href="#nogo">分享给好友</a></li>
				<li><a href="#nogo">枯水豆腐</a></li>
				<li><a href="#nogo">水豆腐水豆</a></li>
				<li><a href="#nogo">士大夫</a></li>
			</ul>
		</div>
	</div>
</h1>
