<h1>Sign up</h1>

<%= render 'form' %>

<div class="nav_bar">
  <div class="or_hr">Or</div>
  <hr/>
  <p>
  <%= link_main_app %>
  <%= link_home %>
  <%= link_to 'Signin', signin_path %>
  </p>
</div>
